// footer - Victor
$v-color-letter: #8a8d91;
$v-a-decoration: none;
$v-a-hover: underline;
$v-text-size: 14px;
$v-width: 75%;
$v-display: flex;
$v-height: 10px;
$v-paddingtop: 10px;
$v-paddingbottom: 25px;
$v-marginr: 12px;
$v-marginb: 5px;
$v-margint: 15px;
$v-hr-bg: transparent;
$v-hr-border: 1px solid #ccc;
$v-fb-letter: 12px;